.header
      .w1100
        //  网站logo开始 
        h1.logo.fl
          a(href='/admin/login')
            img(src='/home/images/logo.png' alt='黑马程序员')
        //  网站logo结束 
        //  网站导航开始 
        ul.navigation.fr
          li
            a.active(href='/') 首页
          li
            a(href='/admin/login') 登录

